button {
	&.ant-btn {
		height: 44px !important;
		font-weight: 500;
	}

	&.ant-btn-primary {
		background-color: $primary;
		color: $white;
		border-color: $darken;

		&:hover {
			border-color: $darken !important;
			background-color: $darken !important;
		}
	}
}
