@import '../../../styles/variables';

.landing-form .logo {
	background: $primary;
	color: $white;
	width: 60px;
	height: 60px;
	border-radius: $full-radius;
	line-height: 60px;
	font-size: 24px;
	text-align: center;
	margin: 0 auto 15px;
}
