// Colors
$white: #ffffff !default;
$primary: #154069 !default;
$darken: #002d58 !default;
$gray-light: #a0a0a0 !default;
$soft-gray: #e4e4e4 !default;
$gray: #6b6b6b !default;
$yellow: #faae2f !default;

// Box
$box-radius: 5px;
$full-radius: 1000px;
$box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.06);
$input-border-color: #ced4da !default;